.show {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  width: 380px;
  height: 60px;
  background: #FEFEFE;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;

  label {
    font-size: 18px;
    padding-left: 15px;
  }

}


.checked {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  width: 380px;
  height: 60px;
  background: #FEFEFE;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;

  label {
    font-size: 18px;
    padding-left: 15px;
    color: gray;
    text-decoration: line-through;
  }

}

.form {

  width: 380px;
  height: 60px;
  background: #FEFEFE;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;

  form {
    display: flex;
    flex-direction: column;
    width: 60%;

    input {
      outline: 0;
      border-width: 0 0 2px;
      border-color: gray;
    }

    input:focus {
      border-color: blue;
    }

  }

}