h2 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(24, 24, 24);
}

h3 {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  color: gray;
  margin: 0;
}

.show {
  
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 414px;
  height: 80px;

  .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 395px;

    background: #FEFEFE;
    border: 0.5px solid #D3D3D3;
    // border: 0.5px solid #bbffee;

    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;

    .input-container {
      height: 100%;
      margin: 0 0 10px 10px;
    }

    /* hides the default checkbox */
    input[type=checkbox] {
      opacity: 0;
    }

    /* creates a new personalized checkbox */
    span {
      height: 25px;
      width: 25px;
      border: solid 1px grey;
      border-radius: 4px;
      background-color: white;
      color: white;
      padding: 5px;
    }

    .location-info {
      width: 240px;
      margin: 0 30px 0 5px;

      label {
        font-size: 16px;
        font-weight: 500;
        color: rgb(24, 24, 24);
      }

      hr {
        margin: 5px 0;
        width: 100%;
      }
    }

    .distance-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        margin: 0 5px 0 8px;
        color: rgb(74, 74, 74);
        font-size: 28px;
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-left: 0;
  }

}

.checked {

  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 414px;
  height: 70px;

  .checked-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 395px;

    background: #FEFEFE;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 10px 0 10px;

    .checked-input-container {
      height: 100%;
      margin: 0px 0 10px 10px;
    }

    /* hides the default checkbox */
    input[type=checkbox] {
      opacity: 0;
    }

    /* creates a new personalized checkbox */
    span {
      height: 25px;
      width: 25px;
      border: solid 1px grey;
      border-radius: 4px;
      background-color: white;
      color: grey;
      padding: 5px;
    }

    .checked-location-info {
      width: 240px;
      margin: 0 30px 0 0px;

      label {
        font-size: 16px;
        padding-left: 5px;
        color: gray;
        text-decoration: line-through;
      }

    }

    .checked-distance-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        margin: 0 5px 0 8px;
        color: rgb(74, 74, 74);
        font-size: 28px;
      }
    }

  }

  .checked-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-left: 0;
  }

}


.form {

  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 394px;
  height: 80px;
  background: #FEFEFE;
  border: 1px solid #6b6b50;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 10px 10px 0 10px;
  padding-left: 15px;

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0;

    input.description {
      outline: 0;
      border-width: 0 0 1px;
      border-color: gray;
      font-size: 16px;
      padding: 7px 10px 5px 10px;
    }

    input.description:focus {
      border-color: rgb(89, 89, 89);
    }

    input.location {
      outline: 0;
      border-width: 0;
      border-color: gray;
    }

  }

  .add-form-button-container {
    padding-left: 20px;
    padding-right: 0;
  }

}

/* CSS USED FOR THE SLIDE.JS TEMPLATE */

.testButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  background: #8de4f5;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0;
  margin: 20px 0 20px 10px;
}

.testShow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 380px;
  height: 60px;
  background: #8de4f5;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0;
  margin: 20px 0 20px 20px;
}

.swiperContainer {
  background-color: indigo;
  width: 414px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 140px;
}