h2 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(24, 24, 24);
}

h3 {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}


.show {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 414px;
  height: 90px;

  .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 380px;

    background: #FEFEFE;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 10px;
    margin: 10px;

    .location-info {

      label {
        font-size: 16px;
        font-weight: 500;
        color: rgb(24, 24, 24);
      }
  
    }

    .distance-info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

  }

  .button-container {
    width: 140px;
    display: flex;
    flex-direction: row;
  }

}


.checked {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 380px;
  height: 60px;
  background: #FEFEFE;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px 3px 15px 15px;
  margin: 10px 0;

  label {
    font-size: 18px;
    padding-left: 15px;
    color: gray;
    text-decoration: line-through;
  }

  img {
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }

}


.form {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 380px;
  background: #FEFEFE;
  border: 1px solid #6b6b50;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 10px 0 0 0;
  padding: 15px;

  form {
    display: flex;
    flex-direction: column;
    width: 60%;

    input.description {
      outline: 0;
      border-width: 0 0 2px;
      border-color: gray;
    }

    input.description:focus {
      border-color: blue;
    }

    input.location {
      outline: 0;
      border-width: 0;
      border-color: gray;
    }

  }

}

/* CSS USED FOR THE SLIDE.JS TEMPLATE */

.testButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  background: #8de4f5;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0;
  margin: 20px 0 20px 10px;
}

.testShow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 380px;
  height: 60px;
  background: #8de4f5;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0;
  margin: 20px 0 20px 20px;
}

.swiperContainer {
  background-color: indigo;
  width: 414px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 140px;
}