h2 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(24, 24, 24);
}

h3 {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

.home-page {

  width: 414px;
  height: 736px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

}

.apple-close {
  border-radius: 50%;
  background-color: #E6F0EE;
  color: #8E8E93;
}

.popup-list {
  z-index: 2;
  width: 414px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-top: 230px;
  list-style-type:none;
}

.popup {

  z-index: 2;
  width: 398px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 0;

  .popup-close-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .popup-close-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #E6F0EE;
      color: #8E8E93;
      font-size: 20px;
      font-weight: light;
      border-radius: 50%;
      padding: 5px;
      margin-right: 5px;
      height: 20px;
      width: 20px;
    }

  }

  .popup-container {
    width: 378px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    margin-top: 3px;
    padding: 0 10px;
    padding-bottom: 5px;

    .popup-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .header-left {
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .header-logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 3px;
          background-image: radial-gradient(farthest-corner at 0 90%,#7247ff 20%,#00ffbe 100%);
          height: 20px;
          width: 20px;
          color: white;
          border-radius: 4px;
          margin-right: 5px;
        }
      }

      .header-right {
        margin-right: 5px;
        color: #8E8E93;
      }

    }

    .popup-body {
      margin-right: 10px;
      p {
        font-size: 15px;
        margin: 0;
        margin-bottom: 5px;
      }
    }
  }

}