.loading-screen {
  height: 736px;
  width: 414px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(farthest-corner at 0 90%,#7247ff 20%,#00ffbe 100%);
  font-family: 'Kaisei Tokumin', serif;
  font-size: 25px;
  color: #e8e8e8;
}