.bestRoute {
  background-color: white;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 77px;
  // margin: 10px 7px 10px 0;
  margin-left: 20px;
  // padding: 10px;
  padding-bottom: 3px;
}

h5 {
  font-size: 10px; /* defines the font size */
  font-family: Arial, Helvetica, sans-serif;
  color: #4f2bc2; /* defines the font color */
  font-weight: 900;
}