.bestRoute {
  background-color: #efefef;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 80px;
  margin-left: 20px;
  margin-top: 6px;
  padding-bottom: 3px;
  padding-top: 5px;
  font-size: 10.5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b8dbd;
  font-weight: 600;
}