.button {
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  color: white;
}

.button--add {
  height: 100px;
  width: 100px;
  background-color: #FCBC40;
  font-size: 50px; //defines the icon size
}

.button--delete {
  background-color: #E24C4B;
}

.button--edit {
  background-color: #FCE058;
}

.button--save {
  background-color: #00AB5E;
}