.button {
  border-radius: 5px;
  border: none;
  height: 70px;
  width: 70px;
  margin: 10px 7px 10px 0;
  color: white; /* defines the icon color */
  font-size: 25px; /* defines the icon size */
}

.button--add {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #FCBC40;
  font-size: 50px; /* defines the icon size */
}

.button--delete {
  background-color: #E24C4B;
}

.button--edit {
  background-color: #FCE058;
}

.button--save {
  background-color: #00AB5E;
  margin: 0;
  font-size: 30px; /* defines the icon size */
}

.button--directions {
  background-color: transparent;
  color: #1FA5DE;
}