.button {
  border-radius: 5px;
  border: none;
  height: 70px;
  width: 70px;
  margin: 10px 7px 10px 0;
  color: white; /* defines the icon color */
  font-size: 25px; /* defines the icon size */
}

.button--add {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-image: radial-gradient(farthest-corner at 0 90%,#7247ff 20%,#00ffbe 100%);
  font-size: 50px; /* defines the icon size */
}

.button--delete {
  background-color: #E7739A;
}

.button--edit {
  background-color: #93969F;
}

.button--save {
  background-color: #04B4A2;
}

.button--small-delete {
  font-size: 22px; /* defines the icon size */
  background-color: #E7739A;
  height: 57px;
  width: 57px;
}
// .button--directions {
//   background-color: transparent;
//   color: #1FA5DE;
// }

.button--directions {
  // background-color: transparent;
  background-color: white; 
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 70px;
  margin: 10px 7px 10px 0;
  font-size: 25px; /* defines the icon size */
  font-family: Arial, Helvetica, sans-serif;
  color: #7247FF; /* defines the icon color */
  font-weight: 900;
}

  h5 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; /* defines the icon color */
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
  }

