// Test commit
.button {
  border-radius: 5px;
  border: none;
  height: 55px;
  width: 55px;
  margin: 5px 5px 5px 0;
  color: white; /* defines the icon color */
  font-size: 25px; /* defines the icon size */
}

.button--add {
  height: 100px;
  width: 100px;
  background-color: #FCBC40;
  font-size: 50px; /* defines the icon size */
}

.button--delete {
  background-color: #E24C4B;
}

.button--edit {
  background-color: #FCE058;
}

.button--save {
  background-color: #00AB5E;
}