.header {
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 414px;
  height: 150px;
  background-image: radial-gradient(farthest-corner at 0 90%,#7247ff 20%,#00ffbe 100%);

  .wordmark {
    margin-left: 150px;
    h1 {
      font-size: 35px;
      font-family: 'Kaisei Tokumin', serif;
      color: #e8e8e8;
      font-weight: 900;
    }
  }
  
  .best_route {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 48px;
  }

}