.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 414px;
  height: 150px;
  background-image: radial-gradient(farthest-corner at 0 90%,#7247ff 20%,#00ffbe 100%);

  h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dfdfdf;
    font-weight: 900;
  }

}